$arrow-size: 5px;

.how-it-works {
  text-align: center;
  max-width: var(--pf-global--breakpoint--lg);
  margin-left: auto;
  margin-right: auto;

  &__viz {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    flex-wrap: nowrap;

    > div {
      height: 40px;
      line-height: 40px;
    }

    > div:nth-child(even) {
      position: relative;
      flex-grow: 1;
      flex-basis: 0;
      min-width: $arrow-size * 4;

      &:before {
        content: '';
        border-top: 1px solid var(--pf-global--BorderColor--200);
        width: 100%;
        height: 0;
        position: absolute;
        top: 50%;
        left: 0;
      }

      &:after {
        content: '';
        width: 0;
        height: 0;
        border-top: $arrow-size solid transparent;
        border-bottom: $arrow-size solid transparent;
        border-left: $arrow-size * 2 solid var(--pf-global--BorderColor--200);
        border-right: 0;
        position: absolute;
        right: -1px;
        top: calc(50% - $arrow-size);
      }
    }

    > div:nth-child(odd) {
      flex-grow: 2;
      flex-basis: 150px;
      border: 1px solid var(--pf-global--BorderColor--200);
      border-radius: 24px;
      background-color: var(--pf-global--BackgroundColor--100);
      white-space: nowrap;
    }
  }
}

@media screen and (max-width: 768px) {
  .how-it-works {
    &__viz {
      flex-direction: column;
      width: auto;

      > div:nth-child(even) {
        position: relative;
        flex-grow: 0;
        flex-basis: 0;
        min-height: $arrow-size * 4;

        &:before {
          content: '';
          border-top: 0;
          border-left: 1px solid var(--pf-global--BorderColor--200);
          height: 100%;
          width: 0;
          position: absolute;
          top: 0;
          left: 50%;
        }

        &:after {
          content: '';
          width: 0;
          height: 0;
          border-top: $arrow-size * 2 solid var(--pf-global--BorderColor--200);
          border-bottom: 0;
          border-left: $arrow-size solid transparent;
          border-right: $arrow-size solid transparent;
          position: absolute;
          top: calc(100% - ($arrow-size * 2 - 1px));
          left: calc(50% - $arrow-size);
        }
      }

      > div:nth-child(odd) {
        flex-basis: 0;
        flex-grow: 0;
      }
    }
  }
}
