.sbx-c-card-banner {
  background-image: url(https://console.redhat.com/apps/frontend-assets/background-images/developer-sandbox-ui/Containers-pattern-Blog-hero.png);
  background-color: var(--pf-global--BackgroundColor--dark-100);
  background-size: cover;
  .pf-c-button {
    text-align: left;
    white-space: normal;
  }
}

.pf-c-page__main-section {
  max-width: 1250px;
}

.sbx-sandbox-graphic {
  min-height: 100%;
  object-fit: cover;
  width: 100%;
}

.sbx-c-card__button {
  text-align: center;
  white-space: normal;
}

img.sbx-osd-logo {
  width: 130px;
}
