.sbx-c-main {
  background-color: var(--pf-global--BackgroundColor--200);
  height: 100%;
}

.pf-c-page__main-section {
  padding-left: var(--pf-global--spacer--2xl);
  padding-right: var(--pf-global--spacer--2xl);
  padding-top: 0px;
}

.sbx-c-card {
  &__text {
    color: var(--pf-global--Color--200);
  }

  &__header {
    color: var(--pf-global--Color--100);
    font-weight: bold;
    font-size: var(--pf-global--FontSize--xl);
  }

  &__button-container {
    width: 40%;
  }

  &--main {
    margin-top: var(--pf-global--spacer--xl);
  }
}

.sbx-c-banner {
  color: var(--pf-global--palette--white);
  background-size: 550px 600px;
  background-image: url(https://raw.githubusercontent.com/RedHatInsights/frontend-assets/9a08a79fddd4a15dc075b33ea849f212c15ec23c/src/background-images/fedora-background.svg);
  background-color: var(--pf-global--BackgroundColor--dark-300);
  background-repeat: no-repeat;
  background-position: right;
  padding-left: var(--pf-global--spacer--lg);

  &__header {
    color: var(--pf-global--palette--white);
    font-weight: bold;
    font-size: var(--pf-global--FontSize--2xl);
  }

  &__text {
    color: var(--pf-global--palette--black-300);
  }
}

.sbx-c-main-btn {
  width: 190px;

  &.btn--purchase {
    background-color: var(--pf-global--danger-color--100);
  }
}

.sbx-c-main-descriptionImg {
  margin-top: var(--pf-global--spacer--sm);
}