@import 'node_modules/@patternfly/react-core/dist/styles/base.css';

:root {
  // Color Variables
  --root-background-color: var(--pf-v5-global--BackgroundColor--200);
  --top-banner-background-color: var(--pf-v5-global--Color--100);
  --root-danger-color: var(--pf-v5-global--danger-color--100);

  // Spacer Variables
  --root-xl-spacer: var(--pf-v5-global--spacer--xl);
  --root-md-spacer: var(--pf-v5-global--spacer--md);
  --root-sm-spacer: var(--pf-v5-global--spacer--sm);
}